<div class="homepage">
   <div class="container is-max-desktop mt-6">
      <div class="notification is-primary">
        <span class="icon-text">
            <span class="icon">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </span>
            <span>ALL THE CREATED EVENT</span>
        </span>
      </div>
    </div>

    <div class="upcoming-event">
     <span>Upcoming Event: <i class="fa fa-arrow-right" aria-hidden="true"></i></span>
          <ul>
            <%= show_event_list(@upcoming_events) %>
          </ul>
    </div>

    <div class="upcoming-event">
     <span>Past Event Event: <i class="fa fa-arrow-left" aria-hidden="true"></i></span>
          <ul>
             <%= show_event_list(@past_events) %>
          </ul>
    </div>
    <p class="button is-primary is-light mt-6"> 
      <%= link_to 'New Event', new_event_path, class: 'a-reset' %> 
    </p> 
</div>
