<div class="columns">
  <div class="column is-11 is-offset-1">
    <h1 class="title mt-4">All Events</h1>
    <div class="columns">
      <div class="column is-two-fifths">
        <div class="subtitle is-5 mt-4">Upcoming Events:</div>
        <ul>
          <%= show_event_list(@upcoming_events) %>
        </ul>
      </div>
      <div class="column"></div>

      <div class="column is-two-fifths">
        <div class="subtitle mt-4">Past Events:</div>
        <ul>
          <%= show_event_list(@past_events) %>
        </ul>
      </div>
    </div>
    <p class="button is-info is-light mt-6"> 
      <%= link_to 'New Event', new_event_path %> 
    </p>  
  </div>
</div>