<div class="columns mt-5">
  <div class="column is-10 is-offset-1">
    <h1 class="title">Create Event</h1>
      <%= render 'form', event: @event %>
      <div class="mt-6">
        <%= link_to 'Cancel', events_path, class: "button is-dark is-outlined mt-6" %>
      </div>
  </div>
</div>