/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";

.upcoming {
  height: 40vh;
  border: 3px solid #f7f1f1;
}

.navbar {
  color: #f7f1f1;
}

.event-title {
  color: #229c8a;
  font-size: 18px;
  font-weight: 600;
}

.event-title:hover {
  color: black;
}

.a-reset {
  color: inherit;
  text-decoration: none;
}

.new-form-label {
  font-weight: 500;
  font-size: 17px;
}

.textarea:not([rows]) {
  min-height: 50px;
  margin-top: 10px;
}

.new-form-description {
  height: 120px;
}

.date {
  margin-top: -8px;
}

.date-label {
  margin-right: 10px;
}

.boolean {
  margin-right: 5px;
}

.checkbox {
  display: flex;
  align-content: center;
}
